.HeaderMessageBlock{
    border: 1px dashed black;
    margin-bottom: 1vw;
    padding: 0 1vw;
    list-style: none!important;
    display: flex;
    flex-direction: column;

}
.MessageBlock{
    width: 52vw;
    padding: 1vw 0;
}
.HeaderBlock{
    padding: 1vw 0;
    font-weight: 800;
    font-size: 1.2em;
}
.OpenLink{
    text-decoration: none;
    align-self: flex-end!important;
    color: cornflowerblue;
}
.OpenLink:hover{
    cursor: pointer;
    color: blueviolet;
    font-size : 1.2em;
    text-decoration: underline;
}
